<section class="container-component">
    <!--Titulo componente-->
    <div class="container-prev">
        <h3 class="title">Gestión de Ordenes</h3>
    </div>

    <br>

    <!--Contenido productos-->
    <div class="content">
        <div class="container-head">
            <p class="count-register">Total <strong>{{ListOrder.length}}</strong></p>
        </div>
        <div class="container-table">

            <table>
                <thead>
                    <tr>
                        <th>
                            <i class="fa-solid fa-arrow-down-1-9 fa-fw"></i>
                        </th>
                        <th>Responsable</th>
                        <th>Orden</th>
                        <th>Estado</th>
                        <th>Usuario</th>
                        <th>Fecha/Hora</th>
                        <th>Productos</th>
                        <th>Total</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="getDetailsOrder(item.codigo)" *ngFor="let item of ListOrder; let i = index" 
                        [class.not-pending-tr]="item.nombre == 'Cancelada'"
                        [class.success-tr]="item.nombre == 'Pagada'">

                        <td [class.success-td]="item.nombre == 'Pagada'" [class.not-pending-td]="item.nombre !== 'Pendiente' && item.nombre !== 'Debiendo'">{{i + 1}}</td>
                        <td class="td">
                            <div class="circle" [title]="item.usuario" [style.background-color]="getColor(item.usuario)">
                                <span>{{item.usuario[0] | uppercase}}</span>
                            </div>
                            <p class="circle-name">{{item.usuario}}</p>
                        </td>
                        <td>{{item.codigo}}</td>
                        <td>{{item.nombre}}</td>
                        <td>Particular</td>
                        <td>
                            <!--{{ item.fecha.split(' ')[0] }}
                            <br>
                            {{ item.fecha.split(' ')[1] }}-->
                            {{item.fecha}}
                        </td>
                        <td>{{item.cantidad}}</td>
                        <td>$0</td>
                        <td>
                            <div class="td-container-tag" *ngIf="item.nombre == 'Cancelada'">
                                <div class="td-tag">{{item.nombre}}</div>
                                <i class="fa-solid fa-circle-xmark txt-danger"></i>
                            </div>
                            <div class="td-container-tag" *ngIf="item.nombre == 'Pagada'">
                                <div class="td-tag">{{item.nombre}}</div>
                                <i class="fa-solid fa-circle-check txt-success"></i>
                            </div>
                            
                            <button (click)="getPayOrder(item.codigo)" type="button" class="btn btn-success rd-4 btn-pay" *ngIf="item.nombre == 'Pendiente' || item.nombre == 'Debiendo'">
                                Pagar
                            </button>
                            <button type="button" class="btn-option" *ngIf="item.nombre == 'Pendiente' || item.nombre == 'Debiendo'">
                                <i class="fa-solid fa-ellipsis fa-fw"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>

    </div>

</section>
