.container-component {
    position: relative;
    /*height: calc(100vh - 111px);*/
}

.container-prev {
    text-align: start;
    display: flex;
    position: sticky;
    top: 5rem;
}
.container-prev .title {
    color: rgb( 97 109 138 );
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content .container-table {
    padding: 10px;
    width: 80%;
    /*border: 1px solid var(--color-texto-terciario);*/
    border-radius: 7px;
    /*background-color: rgba(255, 255, 255, 1);*/
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}
.content .container-table table {
    width: 100%;
    margin-bottom: 15px;
    border-collapse: separate;
    border-spacing: 0 20px; /*-Horizontal 0px, Vertical 10px */
}
/*thead*/
.content .container-table table thead tr {
    position: sticky;
    top: -0.6rem;
    background-color: var(--background-primario);
    z-index: 2;
}
.content .container-table table thead tr th {
    text-align: left;
    font-size: 12px;
    padding: 20px 10px 20px 10px;
    /*background-color: var(--color-info);*/
    color: var(--color-info);
    /*box-shadow: 4px 5px 6px rgba(0, 0, 0, .1);*/
    /*border-top: 1px solid var(--color-texto-terciario);*/
}
.content .container-table table thead tr th i {
    color: var(--color-info);
}
.content .container-table table thead tr th:first-child {
    border-radius: 00px 0px 0px 0px;
    /*border-left: 1px solid var(--color-info);*/
}
.content .container-table table thead tr th:last-child {
    border-radius: 0px 0px 0px 0px;
    /*border-right: 1px solid var(--color-texto-terciario);*/
}
/*tbody*/
.content .container-table table tbody {
    height: 50px;
    overflow: auto;
}
.content .container-table table tbody tr {
    width: 100%;
    table-layout: fixed;
    border-left: 1px solid var(--color-info);
    cursor: pointer;
}
.content .container-table table tbody .not-pending-tr,
.content .container-table table tbody .success-tr {
    cursor: unset;
}
.content .container-table table tbody tr td {
    text-align: left;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    color: var(--color-adicional-primario);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-texto-terciario);
    border-left-width: 0px;
    border-right-width: 0px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .1);
}
.content .container-table table tbody tr:hover > td {
    background-color: rgb(228, 232, 255);
}
.content .container-table table tbody .success-tr:hover > td,
.content .container-table table tbody .not-pending-tr:hover > td {
    background-color: rgb(255, 255, 255);
}
.content .container-table table tbody tr td:first-child {
    border-radius: 0px 0px 0px 0px;
    border-left: 2px solid var(--color-info);
}
.content .container-table table tbody tr .not-pending-td:first-child {
    border-radius: 0px 0px 0px 0px;
    border-left: 2px solid var(--color-danger);
}
.content .container-table table tbody tr .success-td:first-child {
    border-radius: 0px 0px 0px 0px;
    border-left: 2px solid var(--color-success);
}
.content .container-table table tbody tr td:last-child {
    border-radius: 0px 10px 10px 0px;
    border-right: 1px solid var(--color-texto-terciario);
}
.content .container-table table tbody tr td .circle {
    padding: 9px;
    margin-left: 20px;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    /*border: 1px solid var(--color-texto-terciario);*/
    color: rgb(255, 255, 255);
    position: relative;
}
.content .container-table table tbody tr td .circle:hover::before {
    content: attr(title);
    position: absolute;
    left: 10px;
    background: var(--color-info);
    padding: 5px 20px;
    font-size: 12px;
    top: 5px;
    margin-left: 2rem;
    border-radius: 20px;
}
.content .container-table table tbody tr td .circle span {
    color: rgb(255, 255, 255);
}
.content .container-table table tbody tr td .btn-pay {
    padding: 5px 20px !important;
    font-size: 10px !important;
}
.content .container-table table tbody tr td .btn-option {
    font-size: 15px !important;
    margin-left: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.content .container-table table tbody tr td .td-container-tag {
    position: relative;
}
.content .container-table table tbody tr td .td-tag {
    position: absolute;
    font-size: smaller;
    text-transform: uppercase;
    letter-spacing: 2px;
    /*rotate: -17deg;*/
    right: 18px;
    top: 1px;
}

.content .container-table table tbody tr td:last-child {
    text-align: end;
}