<section class="container-component">
    <!--Titulo componente-->
    <div class="container-prev">
        <h3 class="title">Gestión de Ordenes</h3>
    </div>

    <br>

    <!--Contenido productos-->
    <div class="content">
        <div class="container-head">
            <p class="count-register">Resultados <strong>{{ListOrder ? ListOrder.length : 0}}</strong></p>
            <div class="container-pag">
                <div class="container-select-filter">
                    <select id="selectDate" class="select-calendar" (change)="onLoadOrder()">
                        <option [value]="todayStr" selected>Hoy</option>
                        <option [value]="weekRange">Ultima semana</option>
                        <option [value]="monthRange">Ultimo mes</option>
                        <option value="personalizada">Personalizada</option>
                    </select>
                    <div class="container-select-filter-modal" *ngIf="disabledDateCalendar">
                        <input type="date" [max]="DateMaxInput" name="" id="selectDateCalendar" (change)="onLoadOrder()">
                    </div>
                </div>

                <div class="container-select-filter">
                    <select id="selectFilter" class="select-filter" (change)="onLoadOrder()">
                        <option value="0">Todos</option>
                        <option value="7" selected>Pendiente</option>
                        <option value="10">Crédito</option>
                        <option value="8">Pagada</option>
                        <option value="9">Anulada</option>
                    </select>
                </div>

                <button type="button" class="rd-4" (click)="prevPage()"><i class="fa-solid fa-chevron-left"></i></button>
                <p>{{currentPage}} / {{TotalPag ? TotalPag : 0 }}</p>
                <button type="button" class="rd-4" (click)="nextPage()"><i class="fa-solid fa-chevron-right"></i></button>
                
                <div>
                    <select id="selectCount" (change)="onSelectInit()">
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="container-table">

            <div class="message-not-result" *ngIf="ListOrder === undefined || ListOrder.length === 0">
                <img src="../../../../../../assets/img/dobby/not_results_IA.png" alt="Image not found" />
                <h3>No se encontraron ordenes</h3>
                <h5>Reintentar con nuevos filtros para obtener resultados</h5>
            </div>

            <table *ngIf="ListOrder ? ListOrder.length > 0 : 0">
                <thead>
                    <tr>
                        <th>
                            <i class="fa-solid fa-arrow-down-1-9 fa-fw"></i>
                        </th>
                        <th>Responsable</th>
                        <th>Orden</th>
                        <th>Estado</th>
                        <th>Usuario</th>
                        <th>Fecha/Hora</th>
                        <th>Productos</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="getDetailsOrder(item.codigo)" *ngFor="let item of FilterListOrder; let i = index" 
                        [class.not-pending-tr]="item.nombre == 'Anulada'"
                        [class.success-tr]="item.nombre == 'Pagada'"
                        [class.pending-tr]="item.nombre == 'Credito'">

                        <td [class.success-td]="item.nombre == 'Pagada'" [class.not-pending-td]="item.nombre !== 'Pendiente' && item.nombre !== 'Credito'">
                            {{ (currentPage - 1) * itemsPorPagina + i + 1 }}
                        </td>
                        <td class="td">
                            <div class="circle" [title]="item.usuario" [style.background-color]="getColor(item.usuario)">
                                <span>{{item.usuario[0] | uppercase}}</span>
                            </div>
                            <p class="circle-name">{{item.usuario}}</p>
                        </td>
                        <td>{{item.codigo}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.cliente}}</td>
                        <td>
                            <!--{{ item.fecha.split(' ')[0] }}
                            <br>
                            {{ item.fecha.split(' ')[1] }}-->
                            {{item.fecha}}
                        </td>
                        <td>{{item.cantidad}}</td>
                        <td>${{getConverPrice(item.total).toLocaleString()}}</td>
                        <td>
                            <div class="td-container-tag" *ngIf="item.nombre == 'Anulada'">
                                <div class="td-tag">{{item.nombre}}</div>
                                <i class="fa-solid fa-circle-xmark txt-danger"></i>
                            </div>
                            <div class="td-container-tag" *ngIf="item.nombre == 'Pagada'">
                                <div class="td-tag">{{item.nombre}}</div>
                                <i class="fa-solid fa-circle-check txt-success"></i>
                            </div>
                            
                            <button (click)="getPayOrder(item.codigo)" type="button" class="btn btn-success rd-4 btn-pay" *ngIf="item.nombre == 'Pendiente' || item.nombre == 'Credito'">
                                Pagar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>

    </div>

</section>

<app-details [orderCode]="orderCode" *ngIf="visibleDetails"></app-details>
