<div class="select-container form-group" [class.disabled]="disabled">
  <div class="custom-select" (click)="toggleDropdown()">
    <span class="selected-text">
      {{ selectedItem?.name || placeholder }}
    </span>
    <span class="arrow"><i class="fa-solid fa-caret-down"></i></span>
  </div>

  <div class="dropdown" *ngIf="isOpen">
    <input
      *ngIf="searchable && !disabled"
      type="text"
      class="search-input"
      placeholder="Buscar..."
      [(ngModel)]="searchTerm"
      (input)="onSearchChange()" />

    <div *ngIf="selectAction" class="action-container">
      <button type="button" class="btn btn-action btn-origin btn-span" (click)="triggerAction()">
        {{selectActionName}}<i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <div
      *ngFor="let item of filteredItems"
      class="dropdown-item"
      (click)="selectItem(item)">
      {{ item.name }}
    </div>

    <div *ngIf="filteredItems.length === 0" class="no-results">
      No hay resultados
    </div>
  </div>
</div>