.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 13px;
    letter-spacing: 1px;
    padding-top: 20px;
}

.card { width: 18rem !important; border-radius: 5px 18px 5px 18px; }
.card:hover { box-shadow: 1px 1px 9px -4px rgba(0, 0, 0, 0.4); border-radius: 5px 18px 18px 18px; }
.card .card-title { text-align: end; }
.card .card-title .status { float: left; color: #ffd500; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); }
.card .card-title small { padding: 3px 10px; border-radius: 10px; font-weight: bold; box-shadow: 2px 2px 3px inset rgba(0, 0, 0, 0.1); }
.card .card-body .row { margin-top: 0%; margin-bottom: 0%; }
.card .card-body .row .col { margin-bottom: 0%; }
.card .card-body .row .col:nth-child(1) { max-width: fit-content !important; padding: 0% !important; }
.card .card-body .row .col .icon { padding: 0px !important; padding-right: 15px !important; }
.card .card-body .row .col .icon img { width: 60px; height: auto; opacity: .5; filter: grayscale(100%); transition: all .8s; }
.card:hover .card-body .row .col .icon img { filter: grayscale(0%); opacity: .8; }
.card .card-body .row .col:nth-child(2) { margin-top: 10px; margin-right: 0px; padding-right: 0px; }
.card .card-body .row .col p { padding: 0px; margin: 0px; }
.card .card-body .row .col p small { font-weight: 500; }
.card .card-footer { text-align: center; }
.card .card-footer p { margin: 0% 10px; opacity: .5; }