<section class="container-component">

    <!--Titulo componente-->
    <h3 class="title">Asignación de mesa</h3>

    <br>

    <div class="content">

        <!--Success-->
        <div class="card border-success wth-2" (click)="viewNext()">
            <div class="card-title">
                <span class="fa-solid fa-lock-open status" title="Disponible"></span>
                <small class="success" >#1</small>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="icon rd-4">
                            <img class="icon-img" src="../../../../../assets/img/marwee.png">
                        </div>
                    </div>
                    <div class="col">
                        <p><strong>Mesa barra</strong></p>
                        <p><small class="txt-success">Disponible</small></p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p><small>
                    <i class="fa-solid fa-people-group"></i>
                    Capacidad para 6 persona(s)
                </small></p>
            </div>
        </div>
    
        <!--Warning-->
        <div class="card border-warning wth-2" (click)="viewNext()">
            <div class="card-title">
                <span class="fa-solid fa-unlock-keyhole status" title="Reservada"></span>
                <small class="warning" >#2</small>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="icon rd-4">
                            <img class="icon-img" src="../../../../../assets/img/marwee.png">
                        </div>
                    </div>
                    <div class="col">
                        <p><strong>Mesa barra</strong></p>
                        <p><small class="txt-warning">Reservada</small></p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p><small>
                    <i class="fa-solid fa-people-group"></i>
                    Capacidad para 4 persona(s)
                </small></p>
            </div>
        </div>
    
        <!--Danger-->
        <div class="card border-danger wth-2" (click)="viewNext()">
            <div class="card-title">
                <span class="fa-solid fa-lock status" title="Descartada"></span>
                <small class="danger" >#3</small>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="icon rd-4">
                            <img class="icon-img" src="../../../../../assets/img/marwee.png">
                        </div>
                    </div>
                    <div class="col">
                        <p><strong>Mesa barra</strong></p>
                        <p><small class="txt-danger">Descartada</small></p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p><small>
                    <i class="fa-solid fa-people-group"></i>
                    Capacidad para 2 persona(s)
                </small></p>
            </div>
        </div>
    
    </div>

</section>