.container {  
    display: grid;
    grid-template-columns: auto auto 4.5fr;
    grid-template-rows: 1fr 0fr 0fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "col1 col2 col3"
      ". . ."
      ". . .";

    background-color: var(--color-info);

    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 2;
}

.container div {
    padding: 14px 20px;
    letter-spacing: 1px;
    font-size: 13px;
}
  
.col1 {
    padding: 0px 0px !important;
    grid-area: col1;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    max-width: fit-content;
    background-color: var(--color-info);
}
.col1 button {
    padding: 11px 14px;
    color: rgb(255, 255, 255) !important;
    margin: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.col1 button:hover {
    background-color: var(--color-info-dark);
    box-shadow: 0px 2px 3px rgba(0,0,0,.1);
}
.col1 button i { 
    color: rgb(255, 255, 255) !important;
}
  
.col2 {
    padding: 0px 0px !important;
    grid-area: col2;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    max-width: fit-content;
    color:  var(--color-texto-terciario) !important;
    border-left: 1px solid var(--color-info-dark);
}
.col2 button {
    padding: 11px 14px;
    color: rgb(255, 255, 255) !important;
    margin: 5px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.col2 button:hover {
    background-color: var(--color-info-dark);
    box-shadow: 0px 2px 3px rgba(0,0,0,.1);
}
.col2 button i { 
    color: rgb(255, 255, 255) !important;
}
  
.col3 { 
    grid-area: col3;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
    color:  var(--color-texto-terciario) !important;
}
  