.container {
    font-size: 13px;
    letter-spacing: 1px;
    margin: auto;
    max-width: fit-content;
}

.title {
    color: rgb( 97 109 138 );
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card { position: relative; width: 18rem !important; border-radius: 5px 18px 5px 18px; }
@media screen and (min-width: 1270px) and (max-width: 1290px) {
    .card { width: 15rem !important; }
}
.card::before { content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1; }
.card:hover { box-shadow: 1px 1px 9px -4px rgba(0, 0, 0, 0.4); border-radius: 5px 18px 18px 18px; }
.card .card-title { text-align: end; font-size: 12px; }
.card .card-title .status { float: left; color: #ffd500; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); }
.card .card-title small { padding: 3px 10px; border-radius: 10px; font-weight: bold; box-shadow: 2px 2px 3px inset rgba(0, 0, 0, 0.1); }
.card .card-body .row { margin-top: 0%; margin-bottom: 0%; }
.card .card-body .row .col { margin-bottom: 0%; }
.card .card-body .row .col:nth-child(1) { max-width: fit-content !important; padding: 0% !important; }
.card .card-body .row .col .icon { padding: 0px !important; padding-right: 15px !important; }
.card .card-body .row .col .icon img { width: 60px; height: auto; opacity: .5; filter: grayscale(100%); transition: all .8s; }
.card:hover .card-body .row .col .icon img { filter: grayscale(0%); opacity: .8; }
.card .card-body .row .col:nth-child(2) { margin-top: 10px; margin-right: 0px; padding-right: 0px; }
.card .card-body .row .col p { padding: 0px; margin: 0px; }
.card .card-body .row .col p small { font-weight: 500; }
.card .card-footer { text-align: center; }
.card .card-footer p { margin: 0% 10px; opacity: .5; }



/*Modal alerta - esto tiene que ir en el componente creado en shared*/
.alert-modal {
    position: fixed !important;
    right: 0px !important;
    bottom: 0px !important;
    z-index: 2 !important;
    display: flex !important;
    padding: 3rem 10px 3rem 10px !important;
    background: rgba(0,0,0,.5) !important;
    left: 0 !important;
    top: 0 !important;
    justify-content: center;
    z-index: 1000;
}
.alert-modal h3, .alert-modal p {
    margin: 0px;
}
.alert-modal .container-modal {
    position: relative;
    width: 37%;
    height: fit-content;
    padding: 30px;
    box-shadow: 1px 1px 9px -4px rgba(0, 0, 0, 0.8);
    border: 1px solid var(--color-texto-terciario);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.alert-modal .container-modal .row, .alert-modal .container-modal .row .col {
    padding: 0px;
    margin: 0px;
}
.alert-modal .container-modal .icon-modal {
    margin-right: 25px;
}
.alert-modal .container-modal .row .col:nth-child(1) { max-width: fit-content; }
.alert-modal .container-modal .header-modal {
    margin-bottom: 10px;
}
.alert-modal .container-modal .body-modal {
    margin-bottom: 10px;
}
.alert-modal .container-modal .body-modal .info {
    padding: 10px;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}
.alert-modal .container-modal .body-modal p {
    color: rgb( 97, 109, 138);
    font-weight: 400;
    margin-bottom: 10px;
}
.alert-modal .container-modal .body-modal .container-txt {
    text-align: center;
}
.alert-modal .container-modal .body-modal .container-txt input {
    color: rgb( 97, 109, 138);
    font-weight: 400;
    padding: 10px 20px;
    margin-bottom: 5px;
    text-align: center;
    width: 90%;
    border: 1px solid var(--color-texto-terciario);
    outline: none;
}
.alert-modal .container-modal .body-modal .container-txt span {
    opacity: .7;
    font-size: 12px;
}
.alert-modal .container-modal .footer-modal {
    margin-top: 15px;
    text-align: end;
}
.alert-modal .container-modal .footer-modal button {
    padding: 10px 20px;
    margin: 0px 5px;
    font-weight: 500;
}