<section class="container-component">

    <!--Titulo componente-->
    <h3 class="title">Asignación de mesa</h3>

    <br>

    <div class="content">

        <!--Mensaje de error-->
        <div>
            <span>{{mensajeError}}</span>
        </div>

        <!--Success-->
        <div class="card border-info wth-2" *ngFor="let item of ListMesaData" [id]="'card-assig-' + item.id" (click)="viewNext($event, item.estado_mesa, item.nombre, item.numero)">
            <div class="card-title">
                <small class="info" >#{{item.numero}}</small>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="icon rd-4">
                            <img class="icon-img" src="../../../../../assets/img/marwee.png">
                        </div>
                    </div>
                    <div class="col">
                        <p><strong>{{item.nombre}}</strong></p>
                        <p><small [className]="OnGetClass(item.estado_mesa)">{{OnGetStatus(item.estado_mesa)}}</small></p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p><small>
                    <i class="fa-solid fa-people-group"></i>
                    Capacidad para {{item.capacidad}} persona(s)
                </small></p>
            </div>
        </div>
    
    </div>

    <!--esto tiene que ir en el componente creado en shared-->
    <div class="alert-modal" *ngIf="VisibleAlert">
        <div class="container-modal">
            <div class="row">
                <div class="col">
                    <div class="icon-modal icon icon-warning">
                        <span class="fa-solid fa-triangle-exclamation rd-4"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="header-modal">
                        <h3>Reservada</h3>
                    </div>
                    <div class="body-modal">
                        <p>¿Esta mesa tiene reservas activas para hoy <strong>{{fecha}}</strong>, que desea hacer?</p>
                    </div>
                </div>
            </div>
            <div class="footer-modal">
                <button type="button" class="btn btn-default rd-4" (click)="viewPrevModal()">Volver</button>
                <button type="button" class="btn btn-success rd-4" (click)="viewReserverModal()">Ver reservas</button>
                <!--<button type="button" class="btn btn-danger rd-4" (click)="viewCancelModal()">Cancelar</button>
                <button type="button" class="btn btn-success rd-4" (click)="viewOkModal()">Iniciar</button>-->
            </div>
        </div>
    </div>

    <div class="alert-modal" *ngIf="VisibleAlertDescar">
        <div class="container-modal">
            <div class="row">
                <div class="col">
                    <div class="icon-modal icon icon-danger">
                        <span class="fa-solid fa-lock rd-4"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="header-modal">
                        <h3>Descartada</h3>
                    </div>
                    <div class="body-modal">
                        <p>Esta mesa esta descartada actualmente. ¿Desea habilitarla y asignarla?</p>
                    </div>
                </div>
            </div>
            <div class="footer-modal">
                <button type="button" class="btn btn-default rd-4" (click)="viewPrevModal()">Volver</button>
                <button type="button" class="btn btn-success rd-4" (click)="viewOkSuccessModal()">Habilitar</button>
            </div>
        </div>
    </div>

    <div class="alert-modal" *ngIf="VisibleAlertClient">
        <div class="container-modal">
            <div class="row">
                <div class="col">
                    <div class="icon-modal icon icon-success">
                        <span class="fa-solid fa-user rd-4"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="header-modal">
                        <h3>Nombre del cliente</h3>
                    </div>
                    <div class="body-modal">
                        <p>
                            Este nombre es para poder asignar la orden.
                        </p>
                        <div class="container-txt">
                            <input type="text" name="" id="txt_client" class="rd-4" placeholder="Nombre cliente">
                            <span id="alert_txt_client" style="display: none;" class="txt-danger">Complete el campo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-modal">
                <button type="button" class="btn btn-default rd-4" (click)="viewPrevModal()">Volver</button>
                <button type="button" class="btn btn-success rd-4" (click)="viewOkClientModal()">Asignar</button>
            </div>
        </div>
    </div>

</section>