<section class="container-component">

    <!--Titulo componente-->
    <div class="container-prev">
        <h3 class="title">Orden de productos</h3>
        <button type="button" class="btn btn-info btn-span rd-4" (click)="viewPrev()">
            Generar reasignación ({{titleBtnPrev}}), (Cliente: {{NameClient}}) <i class="fa-solid fa-pencil"></i>
        </button>
    </div>

    <br>

    <div class="row">
        <div class="col col-product">
            
            <!--Contenido productos-->
            <div class="content">

                <!--Producto-->
                <div class="card" *ngFor="let item of ListProductData" [id]="'card-order-' + item.id">
                    <div class="card-title" [id]="'card-title-' + item.id" style="display: none;">
                        <i class="fa-solid fa-circle-check txt-success"></i>
                    </div>
                    <div class="card-body">
                        <div class="row row-body">
                            <div class="col">
                                <div class="icon rd-4">
                                    <img class="icon-img" src="../../../../../assets/img/marwee.png">
                                </div>
                            </div>
                            <div class="col">
                                <p><strong>{{item.nombre}}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="p"><small class="txt-company">{{OnConvertNumberPrice(item.precio)}}</small></p>
                        <p>
                            <small>
                                {{item.descripcion}}
                            </small> 
                        </p>
                        <div class="btn-add">
                            <button type="button" class="prev" [id]="item.id" (click)="deleteitem($event)">
                                <i class="fa-solid fa-minus txt-danger"></i>
                            </button>

                            <input type="number" class="input-count" [id]="'input-' + item.id" value="0" readonly>

                            <button type="button" class="next" [id]="item.id" [name]="item.nombre" [value]="item.precio" (click)="additem($event)">
                                <i class="fa-solid fa-plus txt-success"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col col-order" *ngIf="valueCount !== 0">
            <!--Lista de productos seleccionados-->
            <div [class]="heightAuto" *ngIf="valueCount !== 0">
                <button type="button" class="button animate__bounceIn" (click)="OnOpen()" *ngIf="_btn_modal_add">
                    <span class="danger">{{valueCount}}</span>
                    <i class="fa-solid fa-basket-shopping"></i>
                </button>
                <div class="modal-add animate__bounceIn" *ngIf="_modal_add">
                    <div class="header">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-info rd-4" (click)="OnClose()">
                                    Minimizar
                                </button>
                            </div>
                            <div class="col">
                                <h3>Orden</h3>
                                <h5>
                                    <small>01231028</small>
                                </h5>
                            </div>
                            <div class="col">
                                <h3>Mesa</h3>
                                <h5>
                                    <small>#{{idMesa}}</small>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="grid rd-2">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of ListProduct">
                                        <td>{{item.nombre}}</td>
                                        <td>{{OnConvertNumberPrice(item.precio)}}</td>
                                        <td>
                                            <button type="button" class="prev" (click)="deleteitemOrder(item.id)">
                                                <i class="fa-solid fa-minus txt-danger"></i>
                                            </button>
                                            <strong class="input">{{item.id_estado}}</strong>
                                            <button type="button" class="next" [id]="item.id" [name]="item.nombre" [value]="item.precio" (click)="additemOrder($event)">
                                                <i class="fa-solid fa-plus txt-success"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="col">
                                Total
                            </div>
                            <div class="col">
                                {{totalProduct}}
                            </div>
                        </div>
                        <div class="action-check">
                            <label class="btn rd-4" id="label-pay" (click)="OnValidateCheck()" for="input-pay">
                                <input type="checkbox" id="input-pay">
                                <i id="icon-pay" class="fa-regular fa-circle-check"></i>
                                Adelantar pago
                            </label>
                        </div>
                    </div>
                    <div class="action">
                        <div class="btn-order">
                            <div class="row">
                                <div class="col">
                                    <button type="button" class="btn btn-default rd-4" (click)="viewCancel()">Cancelar orden</button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-success rd-4" *ngIf="btn_pay" (click)="viewOk()">Registrar orden</button>
                                    <button type="button" class="btn btn-success rd-4" *ngIf="!btn_pay" (click)="viewPay()">Pagar orden</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <!--esto tiene que ir en el componente creado en shared-->
    <div class="alert-modal" *ngIf="VisibleAlert">
        <div class="container-modal">
            <div class="row">
                <div class="col">
                    <div class="icon-modal icon icon-warning">
                        <span class="fa-solid fa-triangle-exclamation rd-4"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="header-modal">
                        <h3>Cancelando orden</h3>
                    </div>
                    <div class="body-modal">
                        <p>¿Seguro desea cancelar la orden, no se podra recuperar lo cargado?</p>
                    </div>
                </div>
            </div>
            <div class="footer-modal">
                <button type="button" class="btn btn-default rd-4" (click)="viewCancelModal()">Volver</button>
                <button type="button" class="btn btn-warning rd-4" (click)="viewOkModal()">Cancelar</button>
            </div>
        </div>
    </div>
    
</section>