<section class="container-component">
    <div class="card">
        <h3>Proceso de creación</h3>
        <br>
        <form [formGroup]="form" (ngSubmit)="add()">
            
            <label for="nombre">
                <input type="text" id="nombre" formControlName="Nombre" placeholder="Nombre">
                <div class="error-message" *ngIf="form.get('Nombre')?.hasError('required') && form.get('Nombre')?.touched">
                    Requerido
                </div>
            </label>

            <label for="descripcion">
                <input type="text" id="descripcion" formControlName="Descripcion" placeholder="Descripción">
                <div class="error-message" *ngIf="form.get('Descripcion')?.hasError('required') && form.get('Descripcion')?.touched">
                    Requerido
                </div>
            </label>
          
            <label for="precio">
                <input type="number" min="0" id="precio" formControlName="Precio" placeholder="Precio">
                <div class="error-message" *ngIf="form.get('Precio')?.hasError('required') && form.get('Precio')?.touched">
                    Requerido
                </div>
            </label>

            <select class="rd-1" id="select_categ">
                <option value="0">-Seleccione categoria-</option>
                <option [value]="item.id" *ngFor="let item of ListFilter">{{item.nombre}}</option>
            </select>
          
            <div class="container-btn">
                <button type="submit" class="btn btn-success m-2 rd-4">Crear</button>
                <button type="button" class="btn btn-default rd-4" (click)="cancel()">Cancelar</button>
            </div>
        </form>
    </div>
</section>
