<section class="container-component">

    <!--Titulo componente-->
    <div class="container-prev">
        <h3 class="title">Proceso de pago</h3>
    </div>

    <br>

    <div class="content">
        
        <div class="row row-init">
            <div class="col col-init">
                <div class="container-header">

                    <div class="header-float">
                        <h1>Orden</h1>
                        <p><small>{{ListOrder[0]?.codigo}}</small></p>
                    </div>
                    <div class="float">
                        <p><strong>Generada:</strong> {{ListOrder[0]?.usuario}}</p>
                        <p><strong>Cliente:</strong> {{ListOrder[0]?.cliente}}</p>
                        <p><strong>Fecha de creación:</strong> {{ListOrder[0]?.fecha}}</p>
                    </div>
                    
                </div>
                <br>
                <div class="container-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ListOrder">
                                <td>{{item.producto}}</td>
                                <td>${{getConverPrice(item.precio).toLocaleString()}}</td>
                                <td>{{item.cantidad}}</td>
                                <td>${{ (item.precio * item.cantidad).toLocaleString() }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="footer">
                    <div class="row">
                        <div class="col">
                            Total
                        </div>
                        <div class="col">
                            {{totalProduct}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-final">
                <h3>Medio de pago</h3>
                <select (change)="changeType($event)" id="selectType">
                    <option [value]="item.id" *ngFor="let item of ListTypePay">{{item.nombre}}</option>
                </select>
                <select *ngIf="visiblesubtype" id="selectSubType">
                    <option [value]="item.id" *ngFor="let item of ListSubTypePay">{{item.nombre}}</option>
                </select>

                <div class="action">
                    <div class="btn-order">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-default rd-4" (click)="viewCancel()">Cancelar</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-success rd-4" (click)="viewOk()">Pagar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
