.slider {
    height: calc(100vh - 106px);
    max-width: fit-content;
    position: fixed;
    background-color: var(--background-primario);
    border-right: 1px solid var(--color-texto-terciario);
    z-index: 2;
    padding: 10px 0px 10px 20px;
    box-shadow: 2px 2px 9px rgba(0,0,0,.2);
}

.content {
    height: calc(100vh - 120px);
    position: relative;
    justify-content: center;
    padding: 20px 12px 10px 12px;
}