<app-breadcrumbs></app-breadcrumbs>

<div id="slider_left" class="slider" *ngIf="statusDisabledMain"> <!--statusDisabledMain-->
    <app-mainlayout></app-mainlayout>
</div>

<div class="content" id="content" (click)="OnHiddenBar()">
    <router-outlet></router-outlet>
</div>

<section class="container-loader-module" *ngIf="statusLoaderModule">
    <div class="container-loader-margin">
        <div class="custom-loader"></div>
        <p class="info">Cargando componentes</p>
    </div>
</section>

<section class="container-loader-component" *ngIf="statusLoaderComponent">
    <div class="container-loader-margin">
        <div class="custom-loader"></div>
    </div>
</section>