<section class="container-component">

    <!--Titulo componente-->
    <h3 class="title">Ordenes pendientes</h3>

    <br>

    <div class="content">

        <!--Success-->
        <div class="card border-warning wth-2" id="1" status="Disponible" name="Mesa barra" (click)="viewNext($event, this)">
            <div class="card-title">
                <div class="tag warning">
                    <p>Mesa barra</p>
                    <p class="p">#1</p>
                </div>
                <p><strong>Orden:</strong></p>
                <small class="success" >#181123</small>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p><strong class="txt-warning">Ivan Gomez</strong></p>
                        <p><small>$150.200</small></p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p><small>
                    Atendido por Rodrigo Gonzales
                </small></p>
            </div>
        </div>

    </div>
</section>
