.container {
    font-size: 13px;
    letter-spacing: 1px;
    margin: auto;
    max-width: fit-content;
}

.title {
    color: rgb( 97 109 138 );
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.card { position: relative; width: 18rem !important; border-radius: 5px 18px 5px 18px; }
.card::before { content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1; }
.card:hover { box-shadow: 1px 1px 9px -4px rgba(0, 0, 0, 0.4); border-radius: 5px 18px 18px 18px; }
.card .card-title { justify-content: end; font-size: 12px; display: flex; }
.card .card-title p { margin: 3px 5px 0px 5px; }
.card .card-title small { padding: 3px 10px; margin-top: 0px; border-radius: 10px; font-weight: bold; box-shadow: 2px 2px 3px inset rgba(0, 0, 0, 0.1); }
.card .card-title .tag {
    position: absolute;
    top: 7px;
    left: -8px;
    border-radius: 5px 20px 20px 10px;
    padding: 6px 20px;
    display: flex;
    box-shadow: 2px 2px 3px rgba(0,0,0,.3);
}
.card .card-title .tag p {
    text-align: center;
    color: #ffffff !important;
    font-size: 11px;
}
.card .card-title .tag .p {
    font-size: 13px;
    font-weight: bold;
}
.card .card-body .row { margin-top: 0%; margin-bottom: 0%; }
.card .card-body .row .col { margin-bottom: 0%; margin-right: 0px; padding-right: 0px; text-align: center; }
.card .card-body .row .col p { padding: 0px; margin: 0px; }
.card .card-body .row .col p small { font-weight: 500; }
.card .card-footer { text-align: center; }
.card .card-footer p { margin: 0% 10px; opacity: .5; }