.container {
    margin-right: 10px;
    padding-right: 20px;
    width: 15rem;
    /*border-right: 1px solid var(--color-texto-terciario);*/
    z-index: 2;
}

h3 {
    color: rgb( 97 109 138 );
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 2rem;
}

select {
    color: rgb( 97 109 138 );
    border-color: var(--color-texto-terciario);
    width: 100%;
}
select:disabled {
    cursor: no-drop;
}

ul {
    margin: 0px;
    padding: 0px;
}
ul li {
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px;
    list-style: none;
}
ul li ul {
    display: none;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: visibility 0.5s ease, height 0.5s ease;
}
ul li.active ul {
    display: block;
    visibility: visible;
    height: auto;
}
ul li:hover ul, ul li:focus ul {
    display: block;
    visibility: visible;
    height: auto;
}
ul li button {
    padding-left: 20px;
    padding-right: 20px;
    border-color: transparent;
    background-color: transparent;
    transition: all .5s;
    color: rgb( 97 109 138 );
    letter-spacing: 1px;
    font-size: 12px;
    width: 100%;
    text-align: start;
    font-weight: unset;
    position: relative;
}
ul li button::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
ul li .active {
    cursor: pointer;
    color: var(--background-primario);
    border-color: var(--color-texto-terciario);
    background-color: var(--color-info);
}
ul li .active i {
    color: var(--background-primario);
    transition: all .5s;
}
ul li button:hover {
    cursor: pointer;
    color: var(--background-primario);
    border-color: var(--color-texto-terciario);
    background-color: var(--color-info);
}
ul li button:hover i {
    color: var(--background-primario);
}
ul li button i {
    color: rgb( 97 109 138 );
    transition: all .5s;
}