.container {
    position: relative;
    width: max-content;

    transition: all 0.5s;
}

.parent {
    display: grid; 
    grid-template-columns: 1.8fr; 
    grid-template-rows: auto 1.5fr auto; 
    gap: 0px 0px; 
    grid-template-areas: 
        "header"
        "menu"
        "footer";

    position: fixed;
    top: 4rem;
    bottom:1rem;
    left: 1rem;

    z-index: 3 !important;
    transition: all 0.5s;

    background-color: rgba(255,255,255,1);
    border-right: 1px solid var(--color-texto-terciario);
    border-radius: 10px;
    box-shadow: 2px 2px 9px rgba(0,0,0,.2);
}
    
.header { 
    grid-area: header; 
    display: flex; 
    padding: 20px 10px 15px 10px;
    border-bottom: 1px solid var(--color-texto-terciario);
    margin: 0px 15px;
}
.menu { grid-area: menu; }
.footer { grid-area: footer; }

.header .circle {
    padding: 9px;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    position: relative;
    box-sizing: border-box;
}
.header .circle span {
    color: rgb(255, 255, 255);
}
.header .circle-name {
    padding: 4px 1px 1px 10px;
    margin: 0px;
    font-size: 12px;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    box-sizing: border-box;
    text-transform: capitalize;
}
.header .circle-name small {
    font-size: 10px;
}

ul {
    margin: 0px;
    padding: 5px 0px 0px 0px;
}
ul li {
    margin: 5px 15px;
    padding: 0px;
    list-style: none;
}
ul li:first-child {
    margin-top: 15px;
}
ul li:last-child {
    margin-bottom: 15px;
}
ul li button {
    margin: 0px;
    padding: 10px 5rem 10px 20px !important;
    display: flex;
    width: 100%;

    background: transparent;
    border-color: transparent;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 10px !important;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1.5px;
    cursor: pointer;
    position: relative;
    transition: all .6s;
}
ul li button:hover {
    background-color: var(--color-info-dark);
    background: linear-gradient(100deg, var(--color-info-dark) 0%, var(--color-info-dark) 50%, var(--color-info-dark) 100%);
    color: #ffffff !important;
    border-color: transparent;
    transition: all .5s;
}
ul li button i {
    margin-right: 10px;
    margin-top: -2px;
    transition: all .5s;
    font-size: initial;
}
ul li button:hover > i {
    color: rgba(255,255,255,1);
    transform: rotate(18deg) scale(1.5,1.5);
    transition: all .5s;
    animation-name: rotateIcon;
    animation-duration: 1s;
}
@keyframes rotateIcon {
    0%   {transform: rotate(0deg) scale(1,1);}
    100% {transform: rotate(18deg) scale(1.5,1.5);}
  }

/*Active*/
ul li .active {
    background-color: var(--color-info-dark);
    background: linear-gradient(100deg, var(--color-info-dark) 0%, var(--color-info-dark) 50%, var(--color-info-dark) 100%);
    color: #ffffff !important;
    border-color: transparent !important;
    transition: all .5s !important;
}
ul li .active > i {
    color: rgba(255,255,255,1) !important;
    transform: rotate(18deg) scale(1.5,1.5) !important;
    transition: all .5s !important;
    animation-name: rotateIcon !important;
    animation-duration: 1s !important;
}
/*Active end*/


ul li button span {
    position: absolute;
    right: 15px;
    top: 8px;
    padding: 3px 10px;
    font-size: 10px;
    border-radius: 10px;
    background-color: var(--background-primario);
    color: var(--color-primary);
    letter-spacing: 0px;
    transition: all .5s;
}
ul li button:hover > span {
    background-color: #FF3535;
    color: rgba(255,255,255,1);
    transform: rotate(0deg);
}

ul li .button-close:hover {
    background: var(--color-danger) !important;
    color: #ffffff !important;
    border-color: transparent;
    transition: all .5s;
}
ul li .button-close i {
    transform: rotate(180deg);
}
ul li .button-close:hover > i {
    transform: rotate(180deg) !important;
}

/*Iconos modulos*/
ul li button .fa-solid::before {
    content: "" !important;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
ul li button .fa-store::before {
    background-image: url("../../../../../assets/img/dobby/swipe-card.png");
}
ul li button .fa-bag-shopping::before {
    background-image: url("../../../../../assets/img/dobby/box.png");
}
ul li button .fa-clipboard-list::before {
    background-image: url("../../../../../assets/img/dobby/inventory.png");
}
ul li button .fa-chart-simple::before {
    background-image: url("../../../../../assets/img/dobby/reports.png");
}
ul li button .fa-sliders::before {
    background-image: url("../../../../../assets/img/dobby/settings.png");
}
ul li button .fa-code::before {
    background-image: url("../../../../../assets/img/dobby/dev.png");
}
ul li button .fa-right-from-bracket::before {
    background-image: url("../../../../../assets/img/dobby/logout.png");
}
ul li button .fa-gear::before {
    background-image: url("../../../../../assets/img/dobby/gear.png");
}