<section class="container" (click)="OnHiddenBar()">
    <div class="col1">
        <button type="button" class="btn btn-companyTwo rd-4" *ngFor="let item of listNav" [title]="item.nombre" [routerLink]="[item.url]">
            <i [className]="item.icon"></i>
        </button>
    </div>
    <div class="col2">
        <label for="searchId">
            <input type="search" placeholder="Buscador" id="searchId" [(ngModel)]="searchTerm" (keyup)="OnSearchChange(searchTerm)">
            <span>
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
        </label>
    </div>
</section>