.container {  display: grid;
    grid-template-columns: 4.5fr auto;
    grid-template-rows: 1fr 0fr 0fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "col1 col2"
      ". ."
      ". .";

    border-bottom: 1px solid var(--color-texto-terciario);
    background-color: rgba(255, 255, 255, 1);
    font-size: 13px;
}
  
.col1 { 
    grid-area: col1;
    display: flex;
}
.col1 button {
    padding: 10px 20px;
    letter-spacing: 1px;
    font-weight: 300;
    border: none;
    background: none;
    transition: all .5s;
    color:  var(--color-texto-terciario);
    position: relative;
}
.col1 .active, .col1 button:hover {
    background-color: var(--color-primario);
    color: rgba(255, 255, 255, 1);
    transition: all .5s;
    cursor: pointer;
}
.col1 .active_::before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 10px solid var(--color-primario);
    bottom: -10px;
    z-index: 2;
    left: calc(50% - 12px);
    position: absolute;
    display: block;
    width: 0;
    height: 0;   
}
  
.col2 { 
    grid-area: col2;
    line-height: 19px;
    max-width: fit-content;
    border-left: 1px solid var(--color-texto-terciario);
}
.col2 input {
    padding: 15px 20px;
    border: none;
    outline: none;
    text-align: center;
    letter-spacing: 1px;
    color: var(--color-adicional-primario);
}
.col2 input::placeholder {
    color:  var(--color-texto-terciario);
}
.col2 label {
    padding-right: 10px;
}
.col2 label span i {
    color:  var(--color-texto-terciario) !important;
    cursor: text;
}
  