<section class="container" (click)="OnHiddenBar()">
    <div class="col1">
        <button type="button" (click)="OnRouterModule()" [className]="'btn rd-4 ' + item.type" *ngFor="let item of listNav" [title]="item.nombre" [routerLink]="[item.url]">
            <i *ngIf="item.icon" [className]="item.icon"></i>
        </button>
    </div>
    <div class="col2">
        <div class="container-img">
            <img src="../../../../../assets/img/client/buffalo.webp" alt="Logotipo corporativo">
        </div>
    </div>
</section>